.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bar {
  display: flex;
  background-color: white;
  color: white;
  border: none;
  border-radius: 4px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 10px;
  margin-bottom: 80px;
}
.b2 {
  background-color: white;
  color: rgb(255, 165, 40);
  font-family: "Anton";
  border: none;
  border-radius: 4px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-size: 55px;
  transition: color, border 0.3s ;
  margin-left: 55px;
  margin-right: 60px;
}
.b2:hover {
  border-bottom: solid grey;
  color: rgb(0, 0, 0);
  border-color: black;
  border-radius: 0px;
}
.b1 {
  background-color: white;
  color: green;
  font-family: "Anton", sans-serif;
  font-style: normal;
  border: none;
  border-radius: 4px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-size: 55px;
  transition: color 0.8s ease;
  margin-left: 55px;
  margin-right: 60px;
}
.b1:hover {
  border-bottom: solid grey;
  border-radius: 0px;
  color:rgb(2, 2, 2);
  border-color: black;
  
}
.head {
  padding-top: 10px;
  margin-left: 76px;
  display: inline-block;
  font-family: "Anton", sans-serif;
  font-style: normal;
  background-color: white;
  color: black;
  font-size: 30px;
  vertical-align: top;
  margin-right: 160px;
  margin-bottom:150px;
}
.cart{
    background-color: rgb(255, 152, 35);
  color: white;
  font-family: "Anton", sans-serif;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 30px;
  transition: background-color 0.6s;
  border:none;

}
.cart:hover{
    background-color: white;
    color:rgb(255, 152, 35);
    border:none;
}
.buy {
  background-color: rgb(0, 178, 0);
  color: white;
  font-family: "Anton", sans-serif;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 30px;
  transition: background-color 0.6s;
  border:none;
}
.buy:hover {
    background-color: white;
  color:rgb(0, 178, 0);
  border:none;
}
.price {
  color: green;
}
.banner {
  width: 800px;
  vertical-align: top;
}
.b-end {
  margin-left: 255px;
}
.t1{
    text-align: center;
    margin-bottom:40px;
}
.text-1{
    font-family: "Anton", sans-serif;
    color:rgb(36, 36, 114);
    font-size:40px;
    text-align: center;

}
.text{
    font-family: "Anton", sans-serif;
    color:rgb(36, 36, 114);
    font-size:25px;
    
    display:inline-block;
    margin-bottom:60px;
    
}
.dif{
    width:1500px;
    margin-bottom:60px;
}
.l1{
    margin-left: 90px;
    margin-right:100px;
    
}
.t2{
    display: inline-block; 
    vertical-align: top;
    padding-top: 90px;
    font-family: "Anton", sans-serif;
    color:rgb(36, 36, 114);
    font-size:25px;
    margin-bottom:40px;
    
}
.launch{
    font-family: "Anton", sans-serif;
    color:rgb(36, 36, 114);
    font-size:45px;
    text-align: center;

}
.link1{
    margin-bottom:40px;
    margin-left: 80px;
    display:inline-block;

    
}

.a1{
    width:400px;
    
}

.a1-a{
    
    font-family: "Anton", sans-serif;
    color:rgb(36, 36, 114);
    font-size:22px;
}
.a1-b{
    
    font-family: "Anton", sans-serif;
    color:rgb(36, 36, 114);
    font-size:22px;
}
.a1-c{
    
    font-family: "Anton", sans-serif;
    color:green;
    font-size:22px;
}
.shop{
    padding-top: 200px;
    padding-left: 600px;
    padding-right: 500px;
    padding-bottom: 200px;
}
.shop-now{
    text-decoration: none;
    font-family: "Anton", sans-serif;
    font-size:60px;
    color:black;
    transition: color 0.6s ease;
    border:none;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
   
}
.shop-now:hover{
    color:rgb(36, 36, 114);
    border:solid rgb(36, 36, 114);
    font-size: 62px;
    
}
.foot{
    width:1500px;
}
.na{
    color:white;
    background-color: rgb(250, 77, 77);
    display: inline-block;
    font-family: "Anton", sans-serif;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 0px;
}
.na{
    color:white;
    background-color: rgb(250, 77, 77);
    display:block;
    font-family: "Anton", sans-serif;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 30px;
    
}
.na1{
  color:white;
  background-color: rgb(250, 77, 77);
  display:block;
  font-family: "Anton", sans-serif;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 30px;
  margin-top: 0px;
  
}
.github{
  text-decoration: none;
  font-size: 20px;
  color:white;
  transition: border-bottom 1s ease;
  
}
.github:hover{
  border-bottom: solid rgb(46, 46, 255);
}